body{
   justify-content: center;
   text-align: center;
   font-size: 1.2rem;  
   align-items: center;
   background-attachment: fixed;
   margin: 0 auto;
   width: 100%;
   color: rgba(255, 255, 255, 0.8);
}

body, .project-button i, form{
   background-color: rgb(22, 22, 22);
}

#footer-ul li, #hidden-footer-ul li{
   color: rgb(22, 22, 22);
}

div.container{
   width: 100%;
   padding: 0;
}

div.col-xl, div.col-md, div.col-lg.border-right-lg, div.col-lg{
   padding-left: 0;
   padding-right: 0;
   width: 100%;
}

div.col-md.border-right, img, header, header.border-bottom, header div.row{
   width: 100%;
}

div.row{
   margin: 0 auto;
   width: 80%;
   background-color: rgba(255, 255, 255, 0.05);
}

div.row.vertical-align, header div.row{
   align-items: center;
}

h2, h3, h4, h5, h6, header h1, footer a, #nav-ul li, button#submit{
   font-family: 'Cutive Mono', monospace;
}

h1, h3, h4, h5, h6, .stack-box h3, blockquote, button#submit, i, .index-button{
   color: white;
}

#logo-p, ul.inline a, footer{
   color: black;
}

h3, h4, h5, h6{
   padding-bottom: 3%;
}

h2, h3, h4, h5, h6, .index-button, .index-button:hover, .stack-box h3, a{
   font-weight: bold;
}

header h1{
   font-size: 1.5em;
   margin-top: 2%;
   margin-bottom: 2%;
   display: inline-block;
   color: rgba(242, 058, 096, 0.785);
}

h1{
   font-size: 1.6em;
}

header h2{
   font-size: 1.4em;
}

h2{
   font-size: 3em;
   color: rgba(156, 207, 101, 0.8);
   padding-bottom: 3%;
}

h3{
   font-size: 2em;
}

main p{
   font-size: 0.9em;
   font-weight: 300;
   margin-left: 5%;
   margin-right: 5%;
}

.main-spacing{
   padding-top: 6%;
}

p.main-spacing{
   padding-top: 10%;
}

img, .main-em{
   display: block;
}

img, img.stack-icon, header.border-bottom{
   height: auto;
}

img, img.stack-icon{
   margin: 0 auto;
}

img{
   padding: 0;
}

img.hover-link-image{
   opacity: 80%;
}

img.hover-link-image:hover{
   opacity: 100%;
}

img.stack-icon{
   width: 15%;
   display: inline;
}

a{
   text-decoration: none;
}

strong{
   font-weight: normal;
}

header a{
   color: rgb(178, 109, 159);
}

.index-button, .stack-box, .stack-box h3{
   font-family: 'Londrina Outline', cursive;
}

/*BUTTONS ON THE INDEX*/

.index-button{
   padding: 30% 25%;
   opacity: 60%;
   background-size: cover;
}

.index-button:hover{
   opacity: 100%;
}

.index-button p{
   margin: 0;
   font-size: 2em;
   font-weight: bold;
   text-shadow: 2px 2px 5px black;
}

#about-button{
   background-image: url('../images/indexbutton1-web.jpg');
}

#stack-button{
   background-image: url('../images/indexbutton2-web.jpg');
}

#projects-button{
   background-image: url('../images/indexbutton3-web.jpg');
}

#contact-button{
   background-image: url('../images/indexbutton4-web.jpg');
}

/*BUTTONS ON THE PROJECT PAGE*/

.project-button{
   padding-left: 25%;
   padding-right: 25%;
   font-size: 2em;
   background-size: cover;
}

.project-button i{
   color: whitesmoke;
   border-radius: 10%;
   padding: 5%;
   margin-top: 80%;
   margin-bottom: 10%;
}

#monkees-button{
   background-image: url('../images/projects-monkees.jpg');
}

#MMT-button{
   background-image: url('../images/projects-mystery-tour.jpg');
}

#splash-button{
   background-image: url('../images/projects-xanadu.jpg');
}

#landscaping-button{
   background-image: url('../images/projects-bob.png');
}

.project-padding{
   margin: 5%;
}

/*BUTTONS ON THE STACK PAGE*/

.stack-box{
   padding: 12% 1%;
   background-size: cover;
}

#education-box{
   background-image: url('../images/stack-education2.png');
}

#frontend-box{
   background-image: url('../images/stack-front-end2.png');
}

#backend-box{
   background-image: url('../images/stack-back-end2.png');
}

#other-box{
   background-image: url('../images/stack-other2.png');
}

footer a{
   margin-bottom: 2%;
}

main a, footer a{
   color: rgb(195, 123, 123);
}

main a:hover, footer a:hover{
   color: rgb(233, 198, 198);
}

main a:visited, footer a:visited{
   color: rgb(129, 89, 89);
   margin-bottom: 2%;
}

i{
   font-family: fontawesome;
   font-style: normal;
}

.fa-brands:hover, .fa-solid:hover, .main-em, strong{
   color: rgb(156, 207, 101);
}

.main-em{
   font-size: 2em;
   font-style: italic;
}

.side-padding{
   margin-left: 4%;
   margin-right: 4%;
   padding-bottom: 0;
}

.bottom-padding{
   margin-bottom: 10%;
}

.bottom-md-padding{
   margin-bottom: 5%;
}

.bottom-sm-padding{
   margin-bottom: 2%;
}

.top-padding{
   margin-top: 5%;
}

.bold{
   font-weight: 600;
}

blockquote{
   color: rgba(255, 181, 195, 0.785);
   font-size: 1.3em;
   font-style: italic;
   font-weight: 500;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 10px;
   padding: 10%;
   margin: 5%;
}

ul{
   font-weight: 300;
   font-size: 1.1;
   list-style-position: inside;
   list-style-type: none;
}

#nav-ul ul{
   list-style: none;
   padding-left: 0;
}

ul#nav-ul{
   padding-left: 0;
}

#nav-ul li{
   display: inline;
   font-size: 1.1em;
   padding-left: 2%;
}

#nav-ul li:hover{
   color: rgb(227, 227, 227);
}

#nav-ul li:visited{
   color: rgb(114, 100, 117);
}

.active-nav{
   color: rgb(156, 207, 101);
}

footer ul{
   margin-top: 2%;
   padding-left: 0;
}

#footer-ul li{
   padding-right: 2%;
   font-weight: 300;
   font-size: 0.8em;
}

#footer-ul li:hover{
   color: rgb(144, 144, 144);
}

#hidden-footer-ul li{
   padding-right:2%;
   font-weight: 300;
   font-size: 0.9em;
}

#hidden-footer-ul li:hover{
   color: rgb(144, 144, 144);
}

ul.inline{
   padding-left: 0;
}

ul.inline.main-spacing{
   padding-top: 0;
}

ul.inline li{
   display: inline;
   padding-right: 2%;
}

ul.inline a{
   font-size: 2em;
}

.about-ul-dash{
   padding-left: 0;
}

.about-ul-dash li{
   list-style-type: '⬦ ';
   font-size: 0.9em;
}

.list-style-dash li{
   list-style-type: '⬦ ';
   padding: 1%;
   font-size: 0.9em;
}

ul.list-style-dash.bottom-md-padding{
   padding-left: 0;
}

.border-bottom{
   border-bottom: solid 1em black;
}

header{
   background-color: white;
   position: sticky;
   top: 0;
   z-index: 1;
}

div.col-md.reveal.col-md{
   font-size: 1.2em;
   font-style: italic;
   font-weight: 500;
   border-radius: 10px;
   padding: 2%;
}

div.row.vertical-align{
   background-color: rgba(255, 255, 255, 0.1);
}

div.col-md.reveal ul{
   padding-left: 0;
}

#title-col{
   background-image: url(../images/banner.png);
   background-attachment: fixed;
   background-position: top;
   background-size: auto;
}

footer{
   background-color: rgba(255, 255, 255, 0.95);
   padding-top: 1%;
   padding-bottom: 2%;
}

footer p{
   font-size: 0.6em;
}

/*FORM*/

form{
   margin: 5% auto;
   padding: 5%;
   border-radius: 10px;
   width: 80%;
}

input, textarea, body{
   font-family: 'Quicksand', sans-serif;
}

input#value{
   display: none;
}

input, textarea{
   margin: 4%;
   padding: 2%;
   width: 80%;
   border-radius: 10px;
   color: gray;
}

textarea{
   text-align: center;
}

label{
   font-size: 0;
}

button#submit{
   margin: 4%;
   padding: 2%;
   width: 80%;
   border-radius: 10px;
   border: none;
   background-color: rgb(178, 109, 159);
   font-size: 1.2em;
   font-weight: 800;
}

button#submit:hover{
   background-color: rgb(156, 207, 101);
   color: rgb(34, 34, 34);
   font-weight: 800;
}

input#name, input#email, input#message, input#company, input#subject{
   text-align: center;
}

/*MEDIA QUERIES*/

/*xsm*/
@media (min-width: 200px) {
   
   .border-right{
      border-right: solid 0px black;
   }

   #nav-ul li{
      display: block;
   }

   header{
      background-color: white;
      position: relative;
   }

   #index-bio li{
      display: block;
   }

   #footer-ul li{
      display: block;
   }

   body{
      font-size: 1rem; 
   }

   h1{
      font-size: 1.4rem;
   }

   h2{
      font-size: 2.8rem;
   }

   h3{
      font-size: 1.8rem;
   }
}

/*sm*/
@media (min-width: 576px) {

   .border-right{
      border-right: solid 0px black;
   }

   #nav-ul li{
      display: block;
   }

   #footer-ul li{
      display: block;
   }

   #index-bio li{
      display: block;
   }

   body{
      font-size: 1.2rem; 
   }

   h1{
      font-size: 1.6rem;
   }

   h2{
      font-size: 3rem;
   }

   h3{
      font-size: 2rem;
   }
}

/*md*/
@media (min-width: 768px) {

   .border-right{
      border-right: solid 1em black;
   }

   #nav-ul li{
      display: block;
   }

   header{
      background-color: white;
      position: sticky;
      top: 0;
      z-index: 1;
   }

   #footer-ul li{
      display: block;
   }

   #index-bio li{
      display: block;
   }

   body{
      font-size: 1.2rem; 
   }

   h1{
      font-size: 1.6rem;
   }

   h2{
      font-size: 3rem;
   }

   h3{
      font-size: 2rem;
   }
}

/*lg*/
@media (min-width: 768px) {

   .border-right-lg{
      border-right: solid 0em black;
   }

   #nav-ul li{
      display: inline;
   }

   header{
      background-color: white;
      position: sticky;
      top: 0;
      z-index: 1;
   }

   #footer-ul li{
      display: block;
   }

   #index-bio li{
      display: block;
   }

   body{
      font-size: 1.2rem; 
   }

   h1{
      font-size: 1.6rem;
   }

   h2{
      font-size: 3rem;
   }

   h3{
      font-size: 2rem;
   }
}

/*xl*/
@media (min-width: 992px) {

   .border-right-lg{
      border-right: solid 1em black;
   }

   #nav-ul li{
      display: inline;
   }

   header{
      background-color: white;
      position: sticky;
      top: 0;
      z-index: 1;
   }

   #footer-ul li{
      display: inline;
   }

   #index-bio li{
      display: inline;
   }

   body{
      font-size: 1.2rem; 
   }

   h1{
      font-size: 1.6rem;
   }

   h2{
      font-size: 3rem;
   }

   h3{
      font-size: 2rem;
   }
}

