body{
   font-size: 1rem;
   align-items: center;
   align-content: center;
   text-align: center;
   background-color: #E7E6E5;
   background-image: url(../images/body-wallpaper.jpg);
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   margin-left: 0;
   margin-right: 0;
   width: 100%;
   font-family: 'Source Serif Pro', serif;
}

#logo{
   max-width: 70%;
   height: auto;
   margin-bottom: 0;
}

#top-banner{
   max-width: 100%;
}

table{
   width: 60%;
   display: inline-table;
   border-collapse: collapse;
   empty-cells: show;
   margin-top: 0;
   background-color: white;
   box-shadow: 5px 0 10px rgb(162, 159, 139);
}

td{
   border: solid 5px rgb(222, 211, 195);
   padding: 12%;
}

td:hover{
   opacity: 50%;
}

.davy{
   background-color: #d4692c;
   background-image: url(../images/davy-bird.jpg);
   background-size: 100%;
}

.davy-picture{
   background-color: #d4692c;
   background-image: url(../images/davy-bird.jpg);
   background-size: cover;
   animation-name: show-davy;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}

@keyframes show-davy{
   
   0%{
      background-image: url(../images/davy-bird.jpg);
      opacity: 100%;
   }
   25%{
      background-image: url(../images/davy-bird.jpg);
      opacity: 75%;
   }
   50%{
      background-image: url(../images/davy-bird.jpg);
      opacity: 50%;
   }
   75%{
      background-image: url(../images/davy-bird.jpg);
      opacity: 25%;
   }
   100%{
      background-image: url(../images/davy-face.jpg);
   }
}

.mike{
   background-color: #c18959;
   background-image: url(../images/nez-flower.jpg);
   background-size: 100%;
   color: #FB7E3E;
}

.mike-picture{
   background-color: #d4692c;
   background-image: url(../images/nez-flower.jpg);
   background-size: cover;
   animation-name: show-mike;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}

@keyframes show-mike{  
   0%{
      background-image: url(../images/nez-flower.jpg);
      opacity: 100%;
   }
   25%{
      background-image: url(../images/nez-flower.jpg);
      opacity: 75%;
   }
   50%{
      background-image: url(../images/nez-flower.jpg);
      opacity: 50%;
   }
   75%{
      background-image: url(../images/nez-flower.jpg);
      opacity: 25%;
   }
   100%{
      background-image: url(../images/mike-face.jpg);
   }
}

.peter{
   background-color: #462210;
   background-image: url(../images/peter-shelf.jpg);
   background-size: 100%;
   color: #F4EB37;
}

.peter-picture{
   background-color: #d4692c;
   background-image: url(../images/peter-shelf.jpg);
   background-size: cover;
   animation-name: show-peter;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}

@keyframes show-peter{
   0%{
      background-image: url(../images/peter-shelf.jpg);
      opacity: 100%;
   }
   25%{
      background-image: url(../images/peter-shelf.jpg);
      opacity: 75%;
   }
   50%{
      background-image: url(../images/peter-shelf.jpg);
      opacity: 50%;
   }
   75%{
      background-image: url(../images/peter-shelf.jpg);
      opacity: 25%;
   }
   100%{
      background-image: url(../images/peter-face.jpg);
   }
}

.micky{
   background-color: #8F2728;
   background-image: url(../images/micky-bee.jpg);
   background-size: 100%;
   color: #BDD63A;
}

.micky-picture{
   background-color: #d4692c;
   background-image: url(../images/micky-bee.jpg);
   background-size: cover;
   animation-name: show-micky;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
}

@keyframes show-micky{
   
   0%{
      background-image: url(../images/micky-bee.jpg);
      opacity: 100%;
   }
   25%{
      background-image: url(../images/micky-bee.jpg);
      opacity: 75%;
   }
   50%{
      background-image: url(../images/micky-bee.jpg);
      opacity: 50%;
   }
   75%{
      background-image: url(../images/micky-bee.jpg);
      opacity: 25%;
   }
   100%{
      background-image: url(../images/micky-face.jpg);
   }
}

footer{
   padding: 5%;
   font-size: 1.2em;
}

img{
   height: auto;
   max-width: 100%;
}

h1, h2{
   color: #E13887;
}

h1{
   font-size: 3em;
   margin-bottom: 5%;
   font-family: 'Grandstander', cursive;
   font-weight: bold;
}

h2{
   margin-top: 0;
}