body{
   justify-content: center;
   text-align: center;
   font-size: 1.2rem;  
   align-items: center;
   background-color: rgb(22, 22, 22);
   background-attachment: fixed;
   margin: 0 auto;
   width: 100%;
   font-family: 'Quicksand', sans-serif;
   color: rgba(255, 255, 255, 0.8);
}

div.container{
   width: 100%;
   padding: 0;
}

div.col-md{
   padding-left: 0;
   padding-right: 0;
   width: 100%;
}

div.col-xl, div.col-md, div.col-lg.border-right-lg, div.col-lg{
   padding-left: 0;
   padding-right: 0;
   width: 100%;
}

div.col-md.border-right{
   width: 100%;
}

div.row{
   margin: 0 auto;
   width: 80%;
   background-color: rgba(255, 255, 255, 0.05);
}

div.row.vertical-align{
   align-items: center;
}

h3, h4, h5, h6{
   padding-bottom: 3%;
   font-weight: bold;
   color: black;
   font-family: 'Cutive Mono', monospace;
   color: white;

}

header h1{
   font-family: 'Cutive Mono', monospace;
   font-size: 1.5em;
   margin-top: 2%;
   margin-bottom: 2%;
   display: inline-block;
   color: rgba(242, 058, 096, 0.785);
}

h1{
   font-size: 1.6em;
   color: fff;
}

header h2{
   font-size: 1.4em;
   
}

h2{
   font-family: 'Cutive Mono', monospace;
   font-size: 3em;
   color: rgba(156, 207, 101, 0.8);
   padding-bottom: 3%;
   font-weight: bold;
}

h3{
   font-size: 2em;

}

h4{

}

h5{

}

h6{

}

main p{
   font-size: 0.9em;
   font-weight: 300;
   margin-left: 5%;
   margin-right: 5%;
}

.main-spacing{
   padding-top: 6%;
}

p.main-spacing{
   padding-top: 10%;
}

img{
   width: 100%;
   height: auto;
   padding: 0;
   margin: 0;
   display: block;
}

img.hover-link-image{
   opacity: 80%;
}

img.hover-link-image:hover{
   opacity: 100%;
}

img.stack-icon{
   width: 15%;
   height: auto;
   margin: 0 auto;
   display: inline;
}

a{
   text-decoration: none;
   color: rgb(178, 109, 159);
   font-weight: 600;
}

/*BUTTONS ON THE INDEX*/

.index-button{
   padding: 30% 20%;
   font-weight: bold;
   font-size: 2em;
   color: rgb(255, 255, 255);
   text-shadow: 2px 2px 5px black;
   opacity: 60%;
   font-family: 'Londrina Outline', cursive;
}

.index-button:hover{
   opacity: 100%;
   font-weight: bold;
}

#about-button{
   background-image: url('../images/indexbutton1.jpg');
   background-size: cover;
}

#stack-button{
   background-image: url('../images/indexbutton2.jpg');
   background-size: cover;
}

#projects-button{
   background-image: url('../images/indexbutton3.jpg');
   background-size: cover;
}

#contact-button{
   background-image: url('../images/indexbutton4.jpg');
   background-size: cover;
}

/*BUTTONS ON THE PROJECT PAGE*/

.project-button{
   padding-left: 25%;
   padding-right: 25%;
   font-size: 3em;
   background-size: cover;
}

.project-button i{
   color: whitesmoke;
   background-color: rgb(22, 22, 22);
   border-radius: 10%;
   padding: 5%;
   margin-top: 80%;
   margin-bottom: 10%;
}

#monkees-button{
   background-image: url('../images/projects-monkees.jpg');
}

#MMT-button{
   background-image: url('../images/projects-mystery-tour.jpg');
}

#splash-button{
   background-image: url('../images/projects-xanadu.jpg');
}

#landscaping-button{
   background-image: url('../images/projects-bob.png');
}

.project-padding{
   margin: 5%;
}

/*BUTTONS ON THE STACK PAGE*/

.stack-box{
   padding: 12% 1%;
   font-size: 1em;
   background-size: cover;
   font-family: 'Londrina Outline', cursive;
}

#education-box{
   background-image: url('../images/stack-education2.png');
}

#frontend-box{
   background-image: url('../images/stack-front-end2.png');
}

#backend-box{
   background-image: url('../images/stack-back-end2.png');
}

#other-box{
   background-image: url('../images/stack-other2.png');
}

.stack-box h3{
   font-family: 'Londrina Outline', cursive;
   color: white;
   font-weight: bold;
}

main a, footer a{
   color: rgb(196, 203, 093);
   margin-bottom: 2%;
}

main a:visited, footer a:visited{
   color: rgb(134, 138, 070);
   margin-bottom: 2%;
}

footer a{
   font-family: 'Cutive Mono', monospace;
}

i{
   font-family: fontawesome;
   font-style: normal;
   color: rgba(255, 255, 255, 0.8);
}

.fa-brands:hover, .fa-solid:hover{
   color: rgb(156, 207, 101);
}

.main-em{
   font-size: 2em;
   font-style: italic;
   color: rgb(156, 207, 101);
   display: block;
}

em{

}

strong{
   color: rgb(156, 207, 101);
   font-weight: 600;
}

.side-padding{
   margin-left: 4%;
   margin-right: 4%;
}

.bottom-padding{
   margin-bottom: 10%;
}

.bold{
   font-weight: 600;
}

blockquote{
   font-size: 1.2em;
   font-style: italic;
   font-weight: 500;
   color: white;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 10px;
   padding: 10%;
}

@keyframes spin {
   from {
      transform:rotate(0deg);
}
   to {
      transform:rotate(360deg);
   }
}

#logo-p{
   color: black;
}

.logo-flower{
   /* color: rgb(236, 214, 240); */
}

ul{
   font-weight: 300;
   font-size: 1.1;
   list-style-position: inside;
   list-style-type: none;
}

li{
}

nav{
   
}

#nav-ul ul{
   list-style: none;
   padding-left: 0;
}

ul#nav-ul{
   padding-left: 0;
}

#nav-ul li{
   font-family: 'Cutive Mono', monospace;
   display: inline;
   font-size: 1.1em;
   padding-left: 2%;
}

#nav-ul li:hover{
   color: rgb(227, 227, 227);
}

#nav-ul li:visited{
   color: rgb(114, 100, 117);
}

.active-nav{
   color: rgb(156, 207, 101);
}

footer ul{
   margin-top: 3%;
   padding-left: 0;
}

#footer-ul li{
   display: inline;
   padding-right:2%;
   color: rgb(22, 22, 22);
   font-weight: 300;
   font-size: 0.9em;
}

#footer-ul li:hover{
   color: rgb(144, 144, 144);
}

#hidden-footer-ul li{
   padding-right:2%;
   color: rgb(22, 22, 22);
   font-weight: 300;
   font-size: 0.9em;
}

#hidden-footer-ul li:hover{
   color: rgb(144, 144, 144);
}

ul.inline.main-spacing{
   padding-right: 9%;
   padding-top: 0;
}

ul.inline li{
   display: inline;
   padding-right: 2%;
}

ul.inline a{
   color: black;
   font-size: 2em;
}

.list-style-dash li{
   list-style-type: '- ';
   padding: 1%;
   font-size: 0.9em;
}

.border-bottom{
   border-bottom: solid 1em black;
}

header{
   background-color: white;
   position: sticky;
   top: 0;
   width: 100%;
   z-index: 1;
}

header.border-bottom{
   width: 100%;
   height: auto;
}

header div.row{
   width: 100%;
   align-items: center;
}

main{
   
}

main div.col-md.border-right{
   
}

main div.col-md{
   
}

div.col-md.reveal.col-md{
   font-size: 1.2em;
   font-style: italic;
   font-weight: 500;
   
   border-radius: 10px;
   padding: 2%;
   margin-left: 2%;
   margin-right: 2%;
   
}

div.row.vertical-align{
   background-color: rgba(255, 255, 255, 0.1);
}

div.row.vertical-align{
}

div.col-md.reveal ul{
   padding-left: 0;
}

#title-col{
   background-image: url(../images/banner.png);
   background-attachment: fixed;
   background-position: top;
   background-size: auto;
}

footer{
   background-color: rgba(255, 255, 255, 0.95);
   color: black;
   padding-top: 1%;
   padding-bottom: 2%;
}

footer p{
   font-size: 0.8em;
}

/*FORM*/

form{
   margin: 5% auto;
   padding: 5%;
   background-color: rgb(22, 22, 22);
   border-radius: 10px;
   width: 80%;
}

input, textarea{
   margin: 4%;
   padding: 2%;
   width: 80%;
   border-radius: 10px;
   color: gray;
   font-family: 'Quicksand', sans-serif;
}

textarea{
   text-align: center;
}

label{
   font-size: 0;
}

button#submit{
   margin: 4%;
   padding: 2%;
   width: 80%;
   border-radius: 10px;
   border: none;
   background-color: rgb(178, 109, 159);
   color: white;
   font-size: 1.2em;
   font-weight: 800;
   font-family: 'Cutive Mono', monospace;
}

button#submit:hover{
   background-color: rgb(156, 207, 101);
   color: rgb(34, 34, 34);
   font-weight: 800;
}

input#fname, input#lname, input#email, input#message-box, input#company, input#reason{
   text-align: center;
}

/*xsm*/
@media (min-width: 200px) {
   
   .border-right{
      border-right: solid 0px black;
   }

   #nav-ul li{
      display: block;
   }

   header{
      background-color: white;
      position: relative;
   }

   #index-bio li{
      display: block;
   }
}



/*sm*/
@media (min-width: 576px) {

   .border-right{
      border-right: solid 0px black;
   }

   #nav-ul li{
      display: block;
   }

   #hidden-footer-ul li{
      display: inline;
   }

   #index-bio li{
      display: block;
   }
}

/*md*/
@media (min-width: 768px) {

   .border-right{
      border-right: solid 1em black;
   }

   #nav-ul li{
      display: block;
   }

   header{
      background-color: white;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 1;
   }

   #hidden-footer-ul li{
      display: none;
   }

   #index-bio li{
      display: block;
   }
}

/*lg*/
@media (min-width: 768px) {

   .border-right-lg{
      border-right: solid 0em black;
   }

   #nav-ul li{
      display: inline;
   }

   header{
      background-color: white;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 1;
   }

   #hidden-footer-ul li{
      display: none;
   }

   #index-bio li{
      display: block;
   }
}

/*xl*/
@media (min-width: 992px) {

   .border-right-lg{
      border-right: solid 1em black;
   }

   #nav-ul li{
      display: inline;
   }

   header{
      background-color: white;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 1;
   }

   #hidden-footer-ul li{
      display: none;
   }

   #index-bio li{
      display: inline;
   }
}

