body{
   justify-content: center;
   text-align: center;
   font-size: 1rem;  
   align-items: center;
   background-color: burlywood;
   background-image: url('../images/wallpaper1.jpg');
   background-attachment: fixed;
   margin: 0 auto 2% auto;
   width: 80%;
   font-family: 'Roboto Slab', serif;
}

div.container{
   width: 100%;
}

div.col-md{
   padding-left: 0;
   padding-right: 0;
   
}

div.col-md.border-right{
   width: 100%;
}

div.row{
   width: 100%;
   
}

h1, h2, h3, h4, h5, h6{

}

header{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

header h1{
   font-family: 'Irish Grover', cursive;
   font-size: 5em;
   margin-top: 2%;
   margin-bottom: 2%;
}

h1{
   color: black;
}

h2{
   color: burlywood;

}

h3{

}

h4{

}

h5{

}

h6{

}

p{

}

img{
   width: 100%;
   height: auto;
   padding: 0;
   margin: 0;
}

a{
   text-decoration: none;
}

blockquote{
   font-size: 2em;
   font-style: italic;
   background-color: rgba(222, 184, 135, 0.51);
   margin: 0;
   margin-top: 5%;
   color: #E77730;
}

img.hover-link-image{
   opacity: 70%;
}

img.hover-link-image:hover{
   opacity: 100%;
}

ul{
   list-style: none;
   padding-left: 0;
}

li{
   padding-bottom: 2%;
}

#nav-ul ul{
   list-style: none;
}

#nav-ul li{
   display: inline;
}

.border-bottom{
   border-bottom: solid 1em black;
}

header{
   background-color: #fdf8e6bb;
}

main{
}

main div.col-md.border-right{
   background-color: burlywood;
   
}

main div.col-md{
   background-color: #8A4915;
   
}

.black{
   background-color: #000;
}

footer{
   background-color: #fdf8e6b3;
   padding-top: 2%;
   padding-bottom: 2%;
   color: burlywood;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

@media (min-width: 576px) {
   .border-right{
      border-right: solid 0px black;
   }
}

@media (min-width: 768px) {
   .border-right{
      border-right: solid 1em black;
   }
}