*{
   color: rgb(93, 93, 93);
}

body{
   font-size: 1.1rem;
   font-family: 'News Cycle', 'Arial Narrow', Helvetica, sans-serif;
   font-weight: 200;
}

p, ul{
   font-size: 0.9em;
}

ul{
   padding-left: 0;
}

li{
   list-style-position: inside;
}

h1{
   font-size: 2.3em;
}

h2{
   font-size: 1.5em;
}

h1, h2, h3{
}

h1, h2, h3, h4, h5{
   color: black;
}

h3{
   padding-top: 3%;
   margin-top: 0;
   font-size: 1.5em;
   margin-bottom: 0;
}

h4{
   padding-top: 2%;
   padding-bottom: 2%;
   margin-top: 0;
   margin-bottom: 0;
   font-size: 1em;
   display: inline;
}

h5{
   padding-top: 2%;
   padding-bottom: 2%;
   margin-top: 0;
   margin-bottom: 0;
   font-size: 0.9em;
   display: inline;
}

.same-line{
   display: inline;

}

.date-p{
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 0;
   padding-bottom: 0;
   color: black;

}

.no-pad{
   padding-top: 0;
}

a{
   font-weight: bold;
   color: rgb(44, 149, 130);
}

a:hover{
   color: rgb(212, 212, 212);
}

b{
   color: black;
   font-weight: 400;
}

.container{
   background-color: white;
   width: 90%;
   margin: 3% auto;
   padding: 2%;
   border: solid 1px rgb(190, 190, 190);
   border-radius: 10px;
   box-shadow: 0px 1px rgb(166, 166, 166);
}

.row{
   width: 100%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   margin-top: 2%;
}

.row-side{
   width: 100%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   align-items: center;
}

.row-side div{
   margin-right: 5%;
}

.row-ul{
   width: 100%;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
}

ul{
   margin-top: 1%;
   margin-bottom: 0;
}

.row-ul{
   margin-top: 2%;
}

li{
   list-style-type: none;
}

.row-ul li{
   list-style-type: none;
   color: black;
}

.row-ul div{
   padding-right: 5%;
}

div.inline{
   width: 100%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   align-items: center;
   margin-top: 2%;
}

.inline div{
   padding-right: 2%;
}

.inline p{
   padding-top: 2%;
   padding-bottom: 2%;
}

.bold{
   font-weight: bold;
}

strong{
   color: rgb(29, 166, 148);
   font-weight: bold;
}

header p{
   margin-bottom: 1%;
   margin-top: 0;
}

header{
   margin-bottom: 2%;
}

p{
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 0;
   padding-bottom: 0;
}

.no-top{
   padding-top: 0.3%!important;
   margin-top: 0;
   font-size: 0.9em;
}

.no-bottom{
   padding-bottom: 0.3%!important;
   margin-bottom: 0;
}

.top-pad{
   padding-top: 2%;
}