body{
   justify-content: center;
   text-align: center;
   font-size: 1rem;  
   align-items: center;
   background-color: burlywood;
   background-image: url('../images/wallpaper1.jpg');
   background-attachment: fixed;
   margin: 0 auto 2% auto;
   width: 80%;
   font-family: 'Roboto Slab', serif;
}

div.container{
   width: 100%;
}

div.col-md{
   padding-left: 0;
   padding-right: 0;
   
}

div.col-md.border-right{
   width: 100%;
}

div.row{
   width: 100%;
   
}

h1, h2, h3, h4, h5, h6{

}

header h1{
   font-family: 'Irish Grover', cursive;
   font-size: 5em;
   margin-top: 2%;
   margin-bottom: 2%;
}

h1{

}

h2{

}

h3{

}

h4{

}

h5{

}

h6{

}

p{

}

img{
   width: 100%;
   height: auto;
   padding: 0;
   margin: 0;
}

a{
   text-decoration: none;
}

img.hover-link-image{
   opacity: 70%;
}

img.hover-link-image:hover{
   opacity: 100%;
}

ul{
   list-style: none;
   padding-left: 0;
}

li{
   padding-bottom: 2%;
}

#nav-ul ul{
   list-style: none;
}

#nav-ul li{
   display: inline;
}

.border-bottom{
   border-bottom: solid 1em black;
}

header{
   background-color: #FDF8E6;
}

main{
}

main div.col-md.border-right{
   /* background-color: #E77730; */
   
}

main div.col-md{
   /* background-color: #8A4915; */
   
}

.brown{
   background-color: #8A4915;
}

.yellow{
   background-color: #edce64;
}

.orange{
 background-color: #E77730;
}

.white{
   background-color: white;
}

footer{
   background-color: black;
   padding-bottom: 2%;
   color: blanchedalmond;
}

@media (min-width: 576px) {
   .border-right{
      border-right: solid 0px black;
   }
}

@media (min-width: 768px) {
   .border-right{
      border-right: solid 1em black;
   }
}